/* stylelint-disable */
@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/subcategories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
@import "components/newsletter";
@import "components/brands";
@import "components/header";
@import "components/wrapper";
@import "components/main";
@import "components/notifications";
/* stylelint-enable */


* {
    font-family: $mobytic_font_2;
    color: $mobytic_color_1;
}

body {
    background-color: $mobytic_color_2;
}


#header {
    .header-top {

        // HEADER
        #_desktop_logo {
            img {
                max-height: 75px;
                width: auto;
            }
        }

        #search_widget {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
        }


        #mobytic-header-right-nav {
            display: flex;
            color: $mobytic_color_1;
            font-family: $mobytic_font_1;

            i {
                font-size: 45px;
            }

            >div {
                margin: 5px;
            }

            #_desktop_user_info {
                position: relative;

                .user-info {

                    a {
                        display: flex;
                        flex-wrap: wrap;
                        text-align: center;

                        i,
                        span {
                            width: 100%;
                            color: $mobytic_color_1;
                        }

                    }

                    &:hover #mobytic_customer_logged_dropdown {
                        display: block !important;
                    }

                    #mobytic_customer_logged_dropdown {
                        display: none;
                        position: absolute;
                        background: white;
                        bottom: -112%;
                        z-index: 9;
                        padding: 5px 25px;
                        width: 220px;
                        box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .2);

                        ul {
                            margin: 20px 0;

                            a {
                                display: flex;


                                i {
                                    font-size: 20px;
                                    width: 20px;
                                }

                                >div {
                                    flex: 1;
                                    text-align: left;
                                }
                            }
                        }



                    }
                }
            }

            #_desktop_cart {
                .header {
                    display: flex;
                    flex-wrap: wrap;
                    text-align: center;

                    i,
                    div {
                        width: 100%;
                    }
                }
            }
        }

        .mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;

            #_mobile_cart {
                .header {
                    display: flex;
                }
            }

            #menu-icon {
                width: 20%;
            }

            #_mobile_logo {
                width: 60%;
                justify-content: center;
            }

            #_mobile_user_info,
            #_mobile_cart {
                width: 10%;
            }

            #_mobile_user_info img {

                @media screen and (max-width: $mobytic_responsive_mobile) {
                    height: 24px;
                    padding: 2px;
                }
            }
        }

        #_mobile_top_menu {
            >ul {
                flex: 1;
            }
        }
    }

    // MENU
    #mobytic_nav_top {
        background: $mobytic_color_1;

        #_desktop_top_menu {
            display: flex;
            justify-content: center;
        }

        ul {
            li {
                a {
                    color: $mobytic_color_2;
                }
            }
        }

        .sub-menu {
            ul {
                li {
                    a {
                        color: $mobytic_color_3;
                    }
                }
            }
        }

        .container {
            position: relative;
        }
    }
}


#footer {
    background-color: $mobytic_color_5;
}



#wrapper {
    padding-top: 0;
    background: initial;
}

.mobytic_home_behind_hook_bg {
    background-color: $mobytic_color_5;
    padding-top: 1px;
}




#mobytic_homepage_cards {
    margin-top: 60px;

    .row {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;

        .mobytic_card {
            margin: 15px 0;

            @media screen and (max-width: $mobytic_responsive_tablet) {
                width: 50%;
            }

            >div {
                height: 100%;
                border-radius: 20px;
                background: white;
                padding: 5px;
                box-shadow: 0px 0px 6px 0px black;

                &:first-child {
                    margin-left: 0;
                }

                .header {
                    border-radius: 18px;
                    height: 70px;
                    background-color: gray;
                }

                .title {
                    border-radius: 50px;
                    margin: 5px;
                    background-color: $mobytic_color_4;
                    color: $mobytic_color_2;
                    text-align: center;
                }

                .content {
                    display: flex;
                    --gap: 5px;
                    gap: --gap;
                    justify-content: center;

                    >div {
                        width: 100%;

                        >ul {
                            margin: 10px 0;
                            padding: 0 5px;

                            li {

                                a {
                                    color: $mobytic_color_1;
                                    font-size: $mobytic_font_size_xs;
                                }

                                &:before {
                                    content: ">";
                                    margin-right: 5px;
                                    font-size: $mobytic_font_size_xs;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}


// #mobytic_5_blocks_home {
//     --gap: 20px;
//     .row {
//         padding: 0;

//         .col-sm-3,
//         .col-sm-6 {
//             padding: 0 10px;
//         }

//         >div>div {
//             min-height: 200px;
//             background-color: cadetblue;
//             margin: var(--gap) 0;
//             position: relative;

//             .title,
//             .mobytic_button {
//                 position: absolute;
//                 top: 50%;
//                 left: 50%;
//                 transform: translate(-50%, -50%);
//                 text-transform: uppercase;
//             }

//             .title {
//                 color: $mobytic_color_1;
//                 font-size: $mobytic_font_size_xxl;
//                 width: 100%;
//                 padding: 0 10px;
//                 text-align: center;
//             }

//             .mobytic_button {
//                 color: $mobytic_color_2;
//                 font-size: $mobytic_font_size_xxl;
//                 padding: 10px 25px;
//                 border-radius: 20px;
//                 background-color: $mobytic_color_4;
//             }
//         }

//         >div:nth-child(2)>div {
//             background-color: aquamarine;
//             height: 420px;
//             margin: var(--gap) 0;
//         }
//     }
// }



#mobytic_welcome_home {
    .title {
        margin-bottom: 0px !important;
    }

    p {
        color: $mobytic_color_1;
        font-size: $mobytic_font_size_sm;
    }

    a {
        color: $mobytic_color_1;
        font-weight: bold;
        font-size: $mobytic_font_size_sm;
        text-transform: uppercase;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100px !important;
            width: auto;
        }
    }
}






.featured-products {
    margin: 30px 0 !important;

    >div {
        display: flex;
        align-items: center;

        img {
            width: auto;
            height: 50px;
            margin-right: 15px;
        }

        h2 {
            font-family: $mobytic_font_1;
            font-size: $mobytic_font_size_h2;
            font-weight: bold;
            text-transform: uppercase;
            color: $mobytic_color_1;
        }
    }
}

.mobytic_slider {
    overflow: hidden;
}



#product {
    .add .btn {
        border-radius: $mobytic_border_radius_flags_btn;
    }

    #mobytic_breadcrumb_product {
        background-color: $mobytic_color_5;

        .breadcrumb {
            margin: 0;
            padding: 10px 0;

            ol {
                li {

                    a,
                    span {
                        color: $mobytic_color_6;
                    }
                }
            }
        }
    }

    .js-product-container {
        margin-top: 15px;

        .mobytic {
            @media (min-width: $mobytic_responsive_mobile) {
                padding-left: 0;
            }

            &-right {
                &-top {
                    background-color: $mobytic_color_5;
                    padding: 40px;
                }

                &-bottom {
                    padding: 40px;

                    .blockreassurance_product {
                        display: flex;
                        flex-wrap: wrap;

                        >div {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}




#my-account,
#authentication,
#identity,
#addresses,
#address,
#history,
#order-slip,
#module-psgdpr-gdpr {
    #mobytic_breadcrumb_product {
        display: none;
    }

    .page-header {
        margin: 25px 0;
        text-align: center;
    }

    form {
        .form-group {
            .form-control-label {
                text-align: left;
            }

            .form-control-comment {
                text-align: right;
            }

            .form-control {
                background: white;
                border: 1px solid black;
            }
        }
    }
}

#addresses {
    .mobytic_address {
        margin-bottom: 0;

        @media (max-width: $mobytic_responsive_mobile) {
            margin-bottom: 25px;

        }

        &:last-child {
            margin-bottom: 0 !important;
        }

        article {
            // border: 1px solid $mobytic_color_6;
            background: $mobytic_color_5;
            margin: 0;

            .address-footer {
                border-top: 1px solid $mobytic_color_2;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                gap: 10px;
                text-align: center;

                a {
                    background: red;
                    padding: 10px;
                    margin: 0;
                    flex: 1;

                    i,
                    span {
                        color: white;
                    }

                    &:hover {
                        background: $mobytic_color_1;
                    }
                }
            }
        }
    }

    .addresses-footer {
        margin: 0 25px;

        a {
            background: red;
            padding: 10px;
            margin: 0;
            flex: 1;

            i,
            span {
                color: white;
            }

            &:hover {
                background: $mobytic_color_1;
            }
        }
    }
}