// :root {
//   --mobytic_block_reassurance_li: 1;
// }

#block-reassurance {
  margin-top: 2rem;

  &:first-child {
    margin-top: 0;
  }

  img {
    width: 1.563rem;
    margin-right: 0.625rem;
  }

  li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    &:last-child {
      border: 0;
    }
  }

  li .block-reassurance-item {
    padding: 1rem 1.5rem;
  }

  #product & {
    background: $white;

    span {
      font-weight: 700;
    }
  }
}

#index {
  #block-reassurance {
    ul {
      // display: flex;
      // flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @media screen and (max-width: $mobytic_responsive_tablet) {
        grid-template-columns: repeat(2, 1fr);
      }

      // @media screen and (max-width: $mobytic_responsive_mobile) {
      //   width: 100%;
      // }

      li {
        // width: calc(100% / var(--mobytic_block_reassurance_li));
        border: none;

        // @media screen and (max-width: $mobytic_responsive_tablet) {
        //   width: 50%;
        // }

        // @media screen and (max-width: $mobytic_responsive_mobile) {
        //   width: 100%;
        // }

        div.block-reassurance-item {
          display: flex;
          align-items: center;

          >img {
            width: 40px;
            height: auto;
          }

          >div {

            >span {
              margin: 0;
            }
          }

          .h6:first-child {
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
          }

          .h6:last-child {
            font-size: 12px;
          }
        }
      }
    }

    &:last-child {
      .block-reassurance-item {
        padding: 1rem 10px;
      }
    }
  }
}



// Product Page
// #product {
//   .blockreassurance_product {
//     >div {
//       display: flex;
//     }
//   }
// }

#cart,
#product {
  .blockreassurance_product {
    display: flex;
    flex-wrap: wrap;

    >div {
      width: 50%;
      display: flex;
      align-items: flex-start; 
      margin-bottom: 20px;
      @media (max-width: $mobytic_responsive_mobile) {
        width: 100% !important;
    }

      .item-product,
      svg,
      img {
        height: 50px;
        width: 50px;
        margin-right: 20px;
      }

      .block-title {
        font-size: 14px;
        font-weight: bold;
        color: $mobytic_color_1;
        text-transform: uppercase;
      }

      p {
        margin: 0;
      }
    }
  }
}


#cart {
  .blockreassurance_product {
    >div {

      .item-product,
      svg,
      img {
        height: 35px;
        width: 35px;
        margin-right: 10px;
      }

      .block-title {
        font-size: 11px;
      }

      p {
        margin: 0;
        font-size: 12px;
      }
    }
  }
}