// List de Produits
// Bouton
.mobytic_add_to_cart_productlist {
    border-radius: 10px;
    margin-top: 10px;
    font-size: 12px;

    i {
        font-size: 16px;
    }
}

.mobytic_listing_qt {
    margin-top: 10px;
    font-size: 10px;
    color: $mobytic_color_1;
}